.container{
    margin-block-start: 50px;
    margin-block-end: 50px;
}
.home-content {
    width: 100%;
    text-align: center;
    margin-left: 70px;
}
.btn {
    background: #15ca1e;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 750;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px #15ca1e;
    transition: all 2s;
}
.btn:hover {
    transform: rotate(1.0turn) scale(1.5, 1.5);
    background-color: #ff2c2c;
    box-shadow: 1px 1px 5px 1px #ff2c2c;
}
.heading-primary {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    color: #b3b3b3;
    font-weight: 800;
    margin-top: 50px;
}
.heading-secondary {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    color: #b3b3b3;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 50px;
}
.home-text {
    color: rgba(255, 255, 255, 0.55);
    font-size: 30px;
    text-align: center;
    width: 100%;
    line-height: 1.6;
}
a:focus, button:focus, input:focus, textarea:focus {
    outline: 0;
}
#rolam{
    display: block;
    margin-left: 70px;
}