<div class="container">
  <div class="row">
    <div class="col-12">
      <section class="home-content">
        <h1 class="heading-primary">{{koszontes}}</h1>
        <h2 class="heading-primary">Én Kardos Bence vagyok.</h2>
        <div class="home-info">
          <p class="home-text">
            A frontend fejlesztőknek nagy hangsúlyt kell helyezniük a designra és az esztétikára. Az oldalaknak jól kell
            kinézniük, egyszerűeknek és könnyen átláthatóknak kell lenniük.
          </p>
        </div>
        <div class="home-cta">
          <a href="./#projektek" class="btn">Projektek</a>
        </div>
        <div class="home-hero__mouse-scroll-cont">
          <div class="mouse"></div>
        </div>
      </section>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <section id="rolam" class="rolam sec-pad">
        <h2 class="heading heading-sec heading-sec__mb-med">
          <span class="heading-sec__main">Rólam</span>
          <span class="heading-sec__sub">
            Itt további információkat találsz rólam, a tevékenységeimről és a
            jelenlegi ismereteimről a programozás és a technológia terén.
          </span>
        </h2>
        <div class="about__content">
          <div class="about__content-main">
            <h3 class="about__content-title">Ismerj Meg!</h3>
            <div class="about__content-details">
              <p class="about__content-details-para">
                <strong>Frontend webfejlesztő</strong> vagyok, és a webhelyek
                és webalkalmazások kezelőfelületét építem fel, amely a
                teljes termék sikeréhez vezet. Tekintse meg munkáimat a <strong>Projektek</strong> részben.
              </p>
              <p class="about__content-details-para">
                Szeretek olyan tartalmakat is megosztani,
                amelyek az évek során a <strong>webfejlesztésben</strong>
                tanult dolgokkal kapcsolatosak, így segíthetnek
                a fejlesztői közösség többi emberének.
                Nyugodtan csatlakozzon vagy kövessen a <a rel="noreferrer"
                  href="https://www.linkedin.com/in/bence-kardos-925132123/" target="_blank">Linkedin</a> oldalamon,
                ahol hasznos tartalmakat teszek közzé
                a webfejlesztéssel és programozással kapcsolatban.
              </p>
              <p class="about__content-details-para">
                Nyitott vagyok az <strong>álláslehetőségekre</strong>, ahol hozzájárulhatok,
                tanulhatok és fejlődhetek. Ha olyan jó lehetőség adódik,
                amely megfelel a képességeimnek és tapasztalatomnak,
                ne habozzon <strong>kapcsolatba</strong> lépni velem.
              </p>
            </div>
            <a href="./#contact" class="btn">Contact</a>
          </div>
          <div class="about__content-skills">
            <h3 class="about__content-title">Kézségek</h3>
            <div class="skills">
              <div id="html" class="skills__skill">HTML</div>
              <div id="css" class="skills__skill">CSS</div>
              <div id="bootstrap" class="skills__skill">Bootstrap</div>
              <div id="javaScript" class="skills__skill">JavaScript</div>
              <div id="typescript" class="skills__skill">Typescript</div>
              <div id="angular" class="skills__skill">Angular</div>
              <div id="git" class="skills__skill">GIT</div>
              <div id="github" class="skills__skill">Github</div>
              <div id="respo" class="skills__skill">Reszponzivitás</div>
              <div id="seo" class="skills__skill">SEO</div>
              <div id="bsql" class="skills__skill">Basic SQL</div>
              <div id="bmysql" class="skills__skill">Basic mySql</div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <section id="project">
        <p style="color: white;">Projektek Section</p>
      </section>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <section id="contact">
        <p style="color: white;">Kapcsolat Section</p>
      </section>
    </div>
  </div>
</div>