<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="home-content">
        <h1 class="heading-primary">Hello World, én Kardos Bence vagyok.</h1>
        <div class="home-info">
          <p class="text-primary">
            A frontend fejlesztőknek nagy hangsúlyt kell helyezniük a designra és az esztétikára. Az oldalaknak jól kell
            kinézniük, egyszerűeknek és könnyen átláthatóknak kell lenniük.
          </p>
        </div>
        <div class="home-cta">
          <a href="./#projektek" class="btn">Projektek</a>
        </div>
      </div>

      <div class="home-oldal__socials">
        <div class="home-oldal__social">
          <a target="_blank" rel="noreferrer" href="https://www.linkedin.com/in/bence-kardos-925132123/">
            <img class="home-footer__icon" src="https://upload.wikimedia.org/wikipedia/commons/8/81/LinkedIn_icon.svg"
              alt="Kardos Bence Linkedin Profil">
          </a>
        </div>
        <div class="home-oldal__social">
          <a target="_blank" rel="noreferrer" href="https://github.com/KardosBence">
            <img class="home-footer__icon"
              src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
              alt="Kardos Bence Github Profil">
          </a>
        </div>
        <div class="home-oldal__social">
          <a target="_blank" rel="noreferrer" href="https://www.facebook.com/kardbence/">
            <img class="home-footer__icon"
              src="https://upload.wikimedia.org/wikipedia/commons/f/fb/Facebook_icon_2013.svg"
              alt="Kardos Bence Facebook Profil">
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="col-12">
    <div class="form-group">
      <label class="form-label" for="name">Név</label>
      <input class="form-control" type="text" name="Név" id="name">
      <label class="form-label" for="mail">E-mail cím</label>
      <input class="form-control" type="email" name="Mail" id="mail">
      <label class="form-label" for="uzenet">Üzenet:</label>
      <textarea class="form-control" name="Üzenet" id="uzenet" cols="30" rows="10"></textarea>
    </div>
  </div>-->
</div>
