<div class="container">
  <div class="row">
    <div class="col-12">
      <section class="home-content">
        <h1 class="heading-primary">{{koszontes}}</h1>
        <h2 class="heading-secondary">Én <i>Kardos Bence</i> vagyok.</h2>
        <div class="home-info">
          <p class="home-text">
            A frontend fejlesztőknek nagy hangsúlyt kell helyezniük a designra és az esztétikára. Az oldalaknak jól kell
            kinézniük, egyszerűeknek és könnyen átláthatóknak kell lenniük.
          </p>
        </div>
        <div class="home-cta">
          <a href="./#projektek" class="btn">Projektek</a>
        </div>
      </section>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <section id="rolam">
        <p style="color: white;">Rólam Section</p>
      </section>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <section id="project">
        <p style="color: white;">Projektek Section</p>
      </section>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <section id="contact">
        <p style="color: white;">Kapcsolat Section</p>
      </section>
    </div>
  </div>
</div>
