<nav class="navbar navbar-expand-lg navbar-dark p-3 bg-dark" id="headerNav">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link mx-2" routerLinkActive="main" routerLink="main">Bemutatkozás</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLinkActive="main" routerLink="projektek">Projektek</a>
        </li>
        <li class="nav-item d-none d-lg-block">
          <img id="logo" src="../assets/Logo.jpg"/>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLinkActive="motivacio" routerLink="motivacio">Motiváció</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLinkActive="kapcsolat" routerLink="kapcsolat">Kapcsolat</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  
</div>
<router-outlet></router-outlet>


<footer class="bg-dark p-3 fixed-bottom text-center">
  <div class="container">
    <h3>&copy; 2023 - Kardos Bence</h3>
  </div>
</footer>