<nav class="navbar navbar-expand-lg navbar-dark sticky-top" id="headerNav">
  <div class="container-fluid">
    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="d-none d-lg-block m-auto">
        <img id="logo" src="../assets/logo2.jpg" />
      </div>
      <p id="name" class="d-none d-lg-block m-auto">Kardos Bence</p>
      <div class="navbar nav mx-auto col-4">
        <a class="navbar-item" routerLink="main">Home</a>
        <a class="navbar-item" href="#rolam">Rólam</a>
        <a class="navbar-item" href="#projektek">Projektek</a>
        <a class="navbar-item" href="#kapcsolat">Kapcsolat</a>
      </div>
      <section id="DateBox" class="col-2">
        <div class="Date">
          <p class="d-flex">Mai dátum: <br> {{aktDatum}}</p>
        </div>
      </section>
    </div>
  </div>
</nav>
<div class="home-oldal__socials">
  <div class="home-oldal__social">
    <a target="_blank" rel="noreferrer" href="https://www.linkedin.com/in/bence-kardos-925132123/">
      <img class="home-oldal__icon" src="https://upload.wikimedia.org/wikipedia/commons/8/81/LinkedIn_icon.svg"
        alt="Kardos Bence Linkedin Profil">
    </a>
  </div>
  <div class="home-oldal__social">
    <a target="_blank" rel="noreferrer" href="https://github.com/KardosBence">
      <img class="home-oldal__icon" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
        alt="Kardos Bence Github Profil">
    </a>
  </div>
  <div class="home-oldal__social">
    <a target="_blank" rel="noreferrer" href="https://www.facebook.com/kardbence/">
      <img class="home-oldal__icon" src="https://upload.wikimedia.org/wikipedia/commons/f/fb/Facebook_icon_2013.svg"
        alt="Kardos Bence Facebook Profil">
    </a>
  </div>
</div>
<div class="container">
<router-outlet></router-outlet>
</div>
<div class="container-fluid">
  <footer class="main-footer">
    <div class="main-footer-felso row">
      <div class="main-footer-bal col-lg-4">
        <h2 class="heading heading-sm text-lt mb-4">Kardos Bence</h2>

        <p class="main-footer__rovid-leiras text-wrap">
          "A frontend fejlesztők számára a felhasználói élmény prioritást élvez. A cél az, hogy az oldalak könnyen
          használhatók, interaktívak és felhasználóbarátok legyenek."
        </p>
      </div>
      <div class="col-lg-5">

      </div>
      <div class="main-footer-jobb col-lg-3">
        <h2 class="heading heading-sm main-footer__heading-sm mb-4">
          <span>Social</span>
        </h2>
        <div class="main-footer__social">
          <a target="_blank" rel="noreferrer" href="https://www.linkedin.com/in/bence-kardos-925132123/">
            <img class="main-footer__icon" src="https://upload.wikimedia.org/wikipedia/commons/8/81/LinkedIn_icon.svg"
              alt="Kardos Bence Linkedin Profil">
          </a>
          <a target="_blank" rel="noreferrer" href="https://github.com/KardosBence">
            <img class="main-footer__icon"
              src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
              alt="Kardos Bence Github Profil">
          </a>
          <a target="_blank" rel="noreferrer" href="https://www.facebook.com/kardbence/">
            <img class="main-footer__icon"
              src="https://upload.wikimedia.org/wikipedia/commons/f/fb/Facebook_icon_2013.svg"
              alt="Kardos Bence Facebook Profil">
          </a>
        </div>
      </div>
    </div>
    <hr>
    <div class="main-footer-also row">
      <div class="col-12 text-center mb-3">
        &copy; {{aktYear}} <a id="mail" href="mailto:kardbence@gmail.com">Kardos Bence</a>
      </div>
    </div>
  </footer>
</div>